/* Resets*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.7);
  }

  &::-webkit-scrollbar-thumb {
    height: 5px;
    max-height: 5px;
    background-color: #ffd400;
    border-radius: 10px;
  }
}


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

body {
  font-family: Montserrat;
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  overflow-x: hidden;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ol {
  list-style-type: decimal;
}

textarea {
  resize: none;
}

.span {
  display: inline-block;
}

.res-ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* END Resets*/
